*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

.whatsapp{
    color: #25D366;
}

@media only screen and (max-width: 600px) {
    *{
        font-size: 16px;
    }
}

a{
    color: #fdfdfd;
}

a:hover{
    color: #2BDEFD;
}

footer, header{
    background-color: #051d3b;
    width: 100%;
}

body{
    background-color: #01080E;
    color: #fdfdfd;
    font-family: 'Itim', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{font-size: 40px;}

h2{
    font-size: 35px; 
    margin-bottom: 20px;
    margin-left: 100px;
}

.margin-left{
    margin-left: 100px;
}

h3{font-size: 25px;}

.history-text{
    width: 70%;
    text-align: justify;
}

.history-text p{
    margin-bottom: 5px;
}

.comunicacao-empresarial div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
}

.news-text{
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news-link{
    margin-top: 50px;
}

header{
    display: flex;
    padding: 20px 100px 20px 100px;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

main{
    padding: 100px;
}
@media only screen and (max-width: 600px) {
    main{
        padding: 50px; 
    }
}

.history{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

@media only screen and (max-width: 600px) {
    .history{
        flex-direction: column;
    }
}

.fundadores{
    display: flex;
    align-items: flex-start;
    padding-top: 100px;
    gap: 50px;
}

.fundador p{
    font-size: 15px;
    text-align: center;
}

.fundadores img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

@media only screen and (max-width: 600px) {
    .fundadores{
        flex-direction: column;
        align-items: center;
    }

    .fundador{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .history-text{
        width: 100%;
    }
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

footer{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.footer1{
    display: flex;
    justify-content: space-between;
}

.cards{
    display: flex;
    gap: 50px;
}
.footer-card{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

span{
    color: #2BDEFD;
}

.portfolio{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.portfolio-text{
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.portfolio h2{
    align-self: flex-start;
}

.portfolio-image{
    width: 70%;
}

@media only screen and (max-width: 600px) {
    .portfolio-image{
        width: 100%;
    }
}

section{
    margin: 20px 0 20px 0;
}

.margin-top{
    margin-top: 10px;
}

.list-sociais{
    margin-right: 100px;
    display: flex;
    gap: 30px;
}

main{
    padding-top: 50px;
}